.tile {
  background-color: rgba(255, 255, 255, 1);
  height: 245px;
  border-radius: 3px;
  text-align: center;

}

.tile-header-name {
  padding-left: 30px;
  padding-top: 10px;
  font-family: Roboto;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.85);
  font-size: 20px;
  text-align: left;
  user-select: none;
}

.tile-img {
  height: 104px;
  width: 104px;
}

.tile-footer {
  padding-left: 7px;
  padding-right: 7px;
  font-family: 'SF UI Text';
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid black;
  display: inline;
}

