#searchBar {
  background-color: rgba(80, 155, 146, 1);
  width: 100%;
  font-family: 'Roboto';
  font-size: 72px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  line-height: 24px;
  border-radius: 10px;
  border-style: hidden;
  text-align: center;
  user-select: none;
}

#searchBar:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.my-node-entered {
  opacity: 0;
}
.my-node-entering {
  opacity: 1;
  transition: opacity 2000ms;
}
.my-node-exited {
  opacity: 1;
}
.my-node-exiting {
  opacity: 0;
  transition: opacity 2000ms;
}

.arrow {
  transform: translateY(50%);
  background-color: rgba(85, 166, 156, 1);
  border: none;
  border-width: 0;
  border-radius: 50%;
  text-align: center;
}

.inner-color {
  color: white;
  display: inline-block;
}

.inner-color:hover {
  color: rgba(0, 0, 0, .6);
}
