#searchBar {
  background-color: rgba(80, 155, 146, 1);
  width: 100%;
  font-family: 'Roboto';
  font-size: 72px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  line-height: 24px;
  border-radius: 10px;
  border-style: hidden;
  text-align: center;
}

#searchBar:focus {
  outline: none;
}

.green-background {
  background-color: rgba(85, 166, 156, 1);
}

.arrow {
  transform: translateY(50%);
  color: white;
}

.arrowDisabled{
  transform: translateY(50%);
  color: grey;
}

.arrow:hover {
  color: rgba(0, 0, 0, .7);
}
