.tilePadding {
  padding-left: .4rem;
  padding-right: .4rem;
  padding-top: .4rem;
  padding-bottom: .4rem;
}

a:hover{
  text-decoration: none;
}

@keyframes fadeInOut {
  0% { opacity: 1; }
  50%   { opacity: 0; }
  100% { opacity: 1; }
}

.fade-enter{
  opacity: 1;
}

.fade-enter-active{
  animation: fadeInOut 4s;

}

/* .fade-exit{
  opacity: 0;
}

.fade-exit-active{
  opacity: 1;
  transition: opacity 1s ease-in-out;
} */